:root{ /*en root creo y seteo las variables*/
    --color-primario: #3498db;
    --coor-secundario: #2ecc71;
    --color-terciario: #e74c3c;
}

body{
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: #091437;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1{ /*solo el h1 del header*/
    font-size: 2em;
    margin-bottom: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /*importa una url de estilo de google*/