:root{ /*en root creo y seteo las variables*/
    --color-primario: #3498db;
    --coor-secundario: #2ecc71;
    --color-terciario: #e74c3c; /*hacer semaforo de colores segun tipo de auto*/
}

body{
    background-color: #efd6e5;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: #091437;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav{
    background-color: #2ecc71;
    padding: 10px 0; /*Margen interno*/
    ul{ /*Concateno el ul dentro del nav, se lee mejor, no?*/
        display: flex;
        flex-direction: row;
        gap: 20px; /*separado entre elementos*/
        justify-content: center; /*elementos centrados*/
        list-style: none; /*saca los bullets*/
        a{
            color: var(--color-terciario);
            text-decoration: none;
         }
    }
}

.container{
    display: flex;
    min-height: calc(100vh - 170px); /*viewport height*/
}

aside{
    width: 250px;
    padding: 1.5rem;
    border-right: 1px solid var(--color-terciario);
}

main{
    padding: 2rem; /*con 1 valor aplica a los 4 lados*/
    flex-grow: 1; /*las tarjetas se puede acomodar mejor*/
}

.grilla-productos{
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); /*se acomoda automaticamente en 1 sola columna*/
    /*grid-template-columns: 1fr 1fr;*/
    /* grid-template-columns: repeat(4, 1fr); cada columna ocupa 1 fracción y se repite*/
    gap: 1.5rem;
}

.tarjeta-articulos{
    background-color: fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 20px var(--color-terciario);
    img{
        width: 100%;
        /*height: auto;
        border-radius: 5px;*/
    }
    button{
        float: right;
        color: #fff;
        background-color: #3498db;
        padding: 2px;
        border-radius: 2px;
        /*transition: background-color 3s ease;*/
    }
    button:hover{
        background-color: #e74c3c;
    }
}

/*
header h1{ /*solo el h1 del header*/
/*    font-size: 2em;
    margin-bottom: 10px;
}*/

footer{
    background-color: #091437;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /*importa una url de estilo de google*/