:root{ /*en root creo y seteo las variables*/
    --color-primario: #3498db;
    --coor-secundario: #2ecc71;
    --color-terciario: #e74c3c;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); /*importa una url de estilo de google*/
.lista-articulos{
    background-color: bisque;
}
div:not(.clase-TEST){ /*a todos los div menos lo indicado aplica el estilo*/
    color: red;
}
:is(h1,h2,.clase-X){ /*a las clases indicadas aplica es estilo*/
    background-color: green;
}
article:nth-child(3){ /*al 3er hijo aplica el estilo*/
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-terciario); /*utilizo una variable seteada para utilizar aqui*/
}